<section id="cart_items">
    
    <div class="container">
        <header>
            <toolbar name="model.name" display-name="model.displayName" actions='actions'></toolbar>
        </header>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="description">Number</td>
                        <td class="description">Type</td>
                        <td class="description">Expiration Year</td>
                        <td class="description">Expiration Month</td>
                        <td ng-if="recordActions" class="quantity">Actions</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="($index,card) in records">
                        <td>
                           <h5>{{card.number}}</h5>
                        </td>
                        <td class="cart_description">
                            <h5>{{card.type}}</h5>
                        </td>
                        <td class="cart_description">
                            <h5>{{card.expirationYear}}</h5>
                        </td>
                        <td class="cart_description">
                            
                               <h5>{{card.expirationMonth}}</h5>
                        </td>
                        <td ng-if="recordActions">
                            <button ng-repeat="(key, action) in recordActions" id="{{$parent.$index}}-{{key}}-btn" ng-class="action.class || 'btn btn-default btn-sm'" ng-hide="action.show && !action.show(card)" ng-click="action.fn(card)"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<pagination ng-if="ctrl.itemsPerPage < ctrl.totalItems"
            total-items="ctrl.totalItems"
            max-size="5"
            ng-model="ctrl.currentPage"
            ng-change="ctrl.pageChanged()"
            items-per-page="ctrl.itemsPerPage"
            class="pagination-md" 
            boundary-links="true" 
            rotate="false">
</pagination>
