<section>
    <div class="container">
        <button ng-if="roles.indexOf('admin') !== -1" style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary" ng-click="newClient()">Create</button>
        <button ng-if="roles.indexOf('admin') !== -1" style="margin-top: 10px; margin-bottom: 10px;" class='btn btn-primary' ng-click="refreshPage()"><span class='glyphicon glyphicon-refresh'></span></button>
    </div>
</section>
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td>Name</td>
                        <td>Age</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='client in records'>
                        <td>
                            <h4><a ng-click='goDetail(client)' style="cursor: pointer; cursor: hand;">{{client.name}}</a></h4>
                        </td>
                        <td>
                            <p>{{client.age}}</p>
                        </td>
                        <td>
                            <a ng-click='delete(client)' ng-if="roles.indexOf('admin') !== -1" style="cursor: pointer; cursor: hand; margin: 3px;"><span class='glyphicon glyphicon-trash'></span></a>        
                            <a ng-click='edit(client)' style="cursor: pointer; cursor: hand; margin: 3px;"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<pagination ng-if="ctrl.itemsPerPage < ctrl.totalItems"
            total-items="ctrl.totalItems"
            max-size="5"
            ng-model="ctrl.currentPage"
            ng-change="ctrl.pageChanged()"
            items-per-page="ctrl.itemsPerPage"
            class="pagination-md" 
            boundary-links="true" 
            rotate="false">
</pagination>
