<!DOCTYPE html>
<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Categories</h2>
            <div class="panel-group category-products" id="accordian">
                <div class="panel panel-default" ng-repeat="category in categorys">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a ng-click="filtrar('')" style="cursor: pointer">Show all</a></h4>
                    </div>
                </div>
                <div class="panel panel-default" ng-repeat="category in categorys">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a ng-click="filtrar(category.id)" style="cursor: pointer">{{category.name}}</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-sidebar" >
            <h2>Buscar por artista</h2>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="artistName">
                <span class="input-group-btn" aria-label="Artist name">
                    <button class="btn btn-default" type="button" ng-click="filter()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <h2 class="title text-center">Gallery</h2>
            <div class="col-sm-4" ng-repeat="artwork in records">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img ng-src="{{artwork.image}}" alt='{{artwork.name}}' style="height: 268px; max-width: 249px;">
                            <h2>{{artwork.price| currency}}</h2>
                            <h3>{{artwork.name}}</h3>
                            <add-wish-list artwork="artwork"></add-wish-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
