<!DOCTYPE html>
<div layout='row'>
    <div layout-align='end start' flex='20'>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Categories</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list-item class="md-1-line" ng-repeat="category in categorys" ng-click="filtrar(category.id)">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{category.name}}</h4>
                    </div>
                </md-list-item>
                <md-button class="md-primary" ng-click="filtrar('')">Show all</md-button>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <md-grid-list md-gutter="1em" md-cols="3" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="600px">
            <md-grid-tile ng-repeat="artwork in records">
                <md-card>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img class='material-card-image' ng-src="{{artwork.image}}">
                        </div>
                    </md-card-title-media>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{artwork.name}}</span>
                            <span class="md-subhead">{{artwork.price| currency}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-fab md-mini" aria-label="wishlist">
                            <md-icon md-svg-src="src/assets/img/ic_shopping_cart_black_24px.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
